.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainnav {
  height: 60px; /* normal navbar height */
}

.mainnav .navbar-brand {
  font-size: 1.4rem; /* slightly bigger brand */
  font-weight: bold;
}

.mainnav .nav-link,
.mainnav .dropdown-item {
  font-size: 1rem; /* keep links readable but not huge */
}

.mainnav .btn {
  font-size: 0.9rem; /* smaller buttons */
  padding: 0.35rem 0.8rem;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

